[submodule "generators/graph500"]
	path = generators/graph500
	url = https://github.com/graph500/graph500
[submodule "distributed_mmio"]
	path = distributed_mmio
	url = git@github.com:HicrestLaboratory/distributed_mmio.git
